*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'SF Pro Display',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    background:linear-gradient(100deg, #d517e33a 0%, #ffffff 110%),url(assest/images/mj.jpg);
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
@media (max-width: 480px) {
    .container{
        padding: 40px 20px;
    }

    h1{
        font-size: 2rem;
    }
}
.container{
height: 450px;
width: 380px;
position: relative;
margin:10% auto;
background: #ffffff1d;
padding: 5px;
overflow: hidden;
backdrop-filter: blur(30px);
border-radius: 20px;
background: rgba(255, 255, 255, 0.041);
box-shadow: 0 25px 50px  rgba(0, 0, 0, 0.338);


}
h1{
    color: rgba(0, 0, 0, );
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: 25px;
    letter-spacing: -1px;
    text-align: center;
}
p{
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-weight: 150;
    margin-top: 20px;
    letter-spacing: -0.5px;
    text-align: center;  
}
.log{
   background: rgba(255,255,255,0.2); 
   border: 1px solid rgba(0,0,0,0.3);
   color: rgba(0, 0, 0, );
   padding: 15px 30px;
   border-radius: 50px;
   cursor: pointer;
   font-size: 1rem;
   font-weight: 300;
   transition: all o.3s ease;
   backdrop-filter: blur(10px);
   margin-top: 30%;
   margin-right: 10px;
   margin-left: 10%;
   
}
