*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'SF Pro Display',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    background:linear-gradient(110deg, #dad5d537 0%, #00000021 100%),url(assest/images/img1.jpg);
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
.bg-img{
    position: absolute;
    top: 0;
    left: 250px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;

}
.bg-img h1{
    font-size: 4rem;
    
   align-items: center;
   justify-content: center;
}

@keyframes float {
    0% {
        transform: translateY(100vh) translateX(0px);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        transform: translateY(-100px) translateX(100px);
    }
    
}
.container-form{
    
    background: rgba(255, 255, 255, 0.041);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.338);
    border: 1px solid rgba(149, 149, 149, 0.034);
    position: relative;
    z-index: 1;
    min-width: 500px;
    width: 55px;
    min-height: 550px;
}
.container-form h1{
    color: rgb(0,0,0);
    font-size: 2.5rem;
    font-weight: 200;
    margin-bottom: 10px;
    letter-spacing: -1px;
    text-align: center;
}
.container-form p{
    color: rgb(0,0,0);
    font-size: 1rem;
    font-weight: 300;
    margin-top: 10px;
    letter-spacing: 0.5px;
}
.media{
    margin: 16px 0;
}
.media div{
    display: inline-flex;
    align-items: center;
    justify-content:center ;
    height: 40px;
    width: 40px;
   background: rgba(255, 255, 255, 0);
   margin: 0 5px;
   border-radius: 50%;
   cursor: pointer;
   transition: 0.3s ease;
   margin-bottom: 100%Z;
   
   
}
.media div:hover{
    background: rgba(0, 0, 0, 0.313);
}
.media div a i{
    color: #000000;
    width: 20px;
    height: 20px;
}
.input-group{
    display: block;
    flex-direction: column;
    align-items: center;
}
.input-group input{
    background: rgba(255, 255, 255, 0.548);
    color: #000000;
    padding: 10px;
    margin:8px 0;
    width: 250px;
    border: none;
    outline: none;
    border-radius: 10px;
    display: block;
    margin-left: 25%;

}
.input-group input:focus{
    background: rgba(255, 255, 255, 0.25);
}
.input-group input::placeholder{
    color: black

}
.input-group a{
    text-decoration: none;
    margin:8px 0;
    color:#fff;
    font-size: 14px;
    font-weight: 400;
}

.input-group li {
    background: rgba(255,255,255, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: rgb(0, 0, 0);
    padding: 15px 30px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 300;
    transition: all 0.3s ease;
    backdrop-filter: blur(10px);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-top: 23px;
}
button{
    
    background: rgba(255,255,255, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: rgb(0, 0, 0);
    padding: 15px 30px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 300;
    transition: all 0.3s ease;
    backdrop-filter: blur(10px);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-top: 23px;
}
.overlay{
    margin: 8px 0;
}
.overlay-center{
    margin-top: 50px;
}
.overlay-center h1{
    font-size: 3.0rem;
    font-weight: 100;
}
.overlay-center p{
    font-size: 1.2rem;
}