


body,html{
    background-color: black;
    color:white;
    height: 100vh;
    overflow:hidden;
}
.flex{
    display: flex;
    gap: 10px;
}
.pad{
    padding:10px;
}
.jc-c{
    justify-content: center;

}
.jc-sb{
    justify-content: space-between;
}
.jc-sa{
    justify-content: space-around;
}
.jc-sar{
    justify-content: space-evenly;
}
.ai-c{
    align-items: center;
}
.nav-bar{
     position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 5px;
}
.search-bar{
position: fixed;
    top: 0;
    right: 30%;
    overflow: hidden;
    padding: 5px;
}
.profile{
      position: fixed;
    top: -1%;
    right:0;
    overflow: hidden;
    padding: 5px;
}

.profile img{
    border-radius: 50px;
    width:40px;
    height: 40px;
}
.profile button{
    background-color: rgb(51, 51, 51);
    border:none;
    border-radius: 20px;
    color: white;
    padding:5px 10px ;
}
.search-bar input{
background-color: black;
border:1px solid rgb(55, 55, 55);
border-radius:20px;
padding:5px 15px;
width:500px;
}
.search-bar .search-btn{
    position: absolute;
    right:0;
    height:26px;
    border:none;
    border-left: 1px solid rgb(69, 68, 68);
    background-color: transparent;
    color: white;
    
}
.p-rel{
    position:relative;
}
.search-mic{
    background-color: rgb(48, 47, 47);
    border:none;
    border-radius: 50px;
    color:white;
    padding:5px 7px;
}
.side-main{
    display: flex;
    height: auto;
    margin-top: 20px;
    border: none;
}
.side-main::-webkit-scrollbar{
    width:0;
}
.side-bar{
    border:none;
    width:400px;
    margin-top: 30px;
    overflow-y: auto;
    padding: 20px ;
    height: 100vh;
    background: #0000
      
    
}
.pas img{
   border-radius: 50px;
    width:40px;
    height: 40px; 
}
.free img{
    border-radius: 50px;
    width:40px;
    height: 40px;
}
.pk img{
    border-radius: 50px;
    width:40px;
    height: 40px;
}
.pkay img{
    border-radius: 50px;
    width:40px;
    height: 40px;
}
.code img{
    border-radius: 50px;
    width:40px;
    height: 40px;
}

.main-bar{
     border:none;
     width: auto;
     margin-top: 30px;
     overflow-y:auto;
    padding: 20px;
    background: #000;
    height: 100vh;
     
  
}

.topbar .all{
    border:1px solid rgb(165, 159, 159);
    background-color:transparent;
    width:min-content;
    border-radius: 4px;
    color: white;
    padding:5px 10px ;
}

.topbar> button{
    width: 20vh;
    height: 20px;

}
.topbar .drama{
    border:1px solid rgb(165, 159, 159);
    background-color:none;
    border-radius: 4px;
    color: black;
    padding:5px 5px;
}
.topbar1>button{
    width:195px;
    height: 20px;
}
.one img{
    width:300px;
    height:150px;
}
.two img{
     width:300px;
    height:150px;
}


.maincontent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}


   
/* CSS for JS*/
.row-section{
    display: flex;
    overflow-x: auto;
    gap: 10px;
    margin-bottom: 8px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.video-item{

   width: 100%;
   height: 50%;
   padding: 20px;
   margin: 16px;
   border: 1px solid #ddd;
   border-radius: 30px;
   background: #0000;
}
.video-item img{
    width: 25px;
    height: 300px;
    object-fit: cover;

}
.thumbnail{
   margin-bottom: 8px;
   display: block;
}
.video-info{
    padding: 2px;
    text-align: right;
    width: 300px;
    margin-top: 8px;
    font-size: 14px;
}